
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .classLabel {
        margin-bottom: 0px;
        margin-top: 10px;
    }
</style>
<!-- Custom Tabs -->
<div class="nav-tabs-custom">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#tab1" id="aLista" data-toggle="tab">Listagem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" id="aCadastro" data-toggle="tab">Registro</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table id="tbUsuario" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr>
                        <td>Acao</td>
                        <td>Nome</td>
                        <td>Email</td>
                        <td>Status</td>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab2">


            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <form role="form">
                                    <div class="box-body">
                                        <div class="row">


                                            <div class="col-md-8">

                                                <div class="form-group">
                                                    <label class="classLabel">Laboratório</label>
                                                    <select class="form-control" id="ddlLaboratorio">
                                                        <option></option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="col-md-2">

                                                <label class="classLabel">Data</label>
                                                <input class="form-control" id="dtReservaLaboratorio" type="date" value="2011-08-19">

                                            </div>


                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="classLabel">Horário</label>
                                                    <select class="form-control" id="ddlHorarioReserva">
                                                        <option>07 horas</option>
                                                        <option>08 horas</option>
                                                        <option>09 horas</option>
                                                        <option>10 horas</option>
                                                        <option>11 horas</option>
                                                        <option>12 horas</option>
                                                        <option>13 horas</option>
                                                        <option>14 horas</option>
                                                        <option>15 horas</option>
                                                        <option>16 horas</option>
                                                        <option>17 horas</option>
                                                        <option>18 horas</option>
                                                        <option>19 horas</option>
                                                        <option>20 horas</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jsPaginas/jsReservaLaboratorio.js"></script>